<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <p>Salut! ça farte ?</p>
    <a href="/gossips/new/">pour créer un potin</a> <br><br>
    <% gossips.each do |gossip| %>
      <table>
          <td><%= gossip.author %></td>
          <td><%= gossip.content %></td>
        </table>
          <% end %>
  </body>
</html>